<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Lemons</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Handlee&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <header>
        <nav>
            <ul class="leftNav">
                <li>
                    <a class='logo' href="/home">Get Lemons</a>
                </li>
            </ul>
            <ul class="rightNav">
                <li>
                    <a href="/recipes">Recipes</a>
                </li>
                <li>
                    <a href="/logout">Log Out</a>
                </li>
            </ul>
        </nav>
    </header>

    <h1>Get Lemons</h1>
    <h2>Welcome, <%= user.userName %>!</h2>

    <button id="newGroceryList">Create New Grocery List</button>

    <div id="list">
        <h3>My List</h3>
        <h4>Add New Item</h4>
        <form action="/home/addItem" method='POST'>
            <input type="text" placeholder="Item Name" name='groceryItem'>
            <input type="text" placeholder="Quantity" name='quantity'>
            <input type="text" placeholder="Category" name='category'>
            <input type="submit">
        </form>


        <h4>Add From Recipe</h4>
        <form action="/home/addRecipeItems" method="POST">
            <select name="recipeSelected">
                <option value="">--Select a Recipe--</option>
                <% recipes.forEach( el => { %>
                    <option value="<%=el._id%>"><%=el.name%></option>
                <% }) %>
            </select>
            <input type="submit">
        </form>

        <ul>
            <% category.forEach( el => { %>
                <li class='foodCategory'><%= el %>
                    <ul>
                        <% groceries.forEach( e => { %>
                            <% if (e.category == el) { %>
                                <li class='groceryItem' data-id='<%=e._id%>'>
                                    <span><%= e.quantity %></span>
                                    <span class='<%= e.completed === true ? 'completed' : 'not'%>'><%= e.item %></span>
                                    <span class='del'> Remove </span>
                                </li>
                           <% } %>
                       <% }) %>
                    </ul>
            <% }) %> 
        </ul>
    </div>

    
 
    <script src="js/main.js"></script>
</body>
</html>