<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Lemons</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/home">Get Lemons</a>
            </li>
            <li>
                <a href="/logout">Log Out</a>
            </li>
        </ul>
    </nav>

    <h1>Get Lemons</h1>
    <h2>Welcome, <%= user.userName %>!</h2>

    <button id="newList">Create New Grocery List</button>

    <div id="list">
        <h3>My List</h3>
        <h4>Add New Item</h4>
        <form action="/home/addItem" method='POST'>
            <input type="text" placeholder="Item Name" name='groceryItem'>
            <input type="text" placeholder="Quantity" name='quantity'>
            <input type="text" placeholder="Category" name='category'>
            <input type="submit">
        </form>
        <ul>
            <% category.forEach( el => { %>
                <li class='foodCategory'><%= el %>
                    <ul>
                        <% groceries.forEach( e => { %>
                            <% if (e.category == el) { %>
                                <li class='groceryItem' data-id='<%=e._id%>'>
                                    <span><%= e.quantity %></span>
                                    <span class='<%= e.completed === true ? 'completed' : 'not'%>'><%= e.item %></span>
                                    <span class='del'> Remove </span>
                                </li>
                           <% } %>
                       <% }) %>
                    </ul>
            <% }) %> 
        </ul>
    </div>

    
 
    <script src="js/main.js"></script>
</body>
</html>