<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Lemons</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Handlee&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul class="leftNav">
                <li>
                    <a class='logo' href="/home">Get Lemons</a>
                </li>
                <li>
                    <a href="/home">Groceries</a>
                </li>
                <li>
                    <a href="/recipes">Recipes</a>
                </li>
            </ul>
            <ul class="rightNav">
                <li>
                    <span class="material-symbols-outlined">
                        account_circle
                        </span>
                    <span><%= user.userName %></span>
                </li>
                <li>
                    <a href="/logout">Log Out</a>
                </li>
            </ul>
        </nav>
    </header>

    <main class="groceriesRecipes">
        <section class="grTitle">
            <h1>Recipes</h1>
        </section>
        <section class="addNewRecipe">
            <h2>Create New Recipe</h2>
            <form action="/recipes/createrecipe" method='POST'>
                <input class="textbox" type="text" placeholder="Recipe Name" name='recipeName'>
                <input class="submit" type="submit" value="Submit">
            </form>
        </section>
        <section class="myRecipes">
            <h2>My Recipes</h2>
            <% recipes.forEach( el => { %>
                <div class='recipe' data-id='<%=el._id %>'>
                    <h4><%= el.name %></h4>
                    <button class="editRecipe">EDIT</button>
                    <ul>
                        <% groceries.forEach( e => { %>
                            <% if (e.recipe == el._id) { %>
                                <li class='groceryItem' data-id='<%=e._id%>'>
                                    <span><%= e.quantity %> <%= e.item %></span>
                                </li>
                           <% } %>
                       <% }) %>
                    </ul>
                </div>
            <% }) %> 
        </section>
    </main>

    <script src="js/main.js"></script>
</body>
</html>